#info .info-text {
    position: absolute;
    left: -75px;
    bottom: 60px;
    width: 200px;
  
    pointer-events: none;
  
    background-color: rgb(58,68,84);
    /*previusly 255,255,255*/
    border-radius: 5%;
    color: rgb(255,255,255);
    line-height: 1.2em;
    padding: .8em;
    opacity: 0;
  
    -webkit-transform-origin: 50% calc(100% + 6em);
    transform-origin: 50% calc(100% + 6em);
  
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
    transition: opacity 0.3s, transform 0.5s;
  
    -webkit-transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
    transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
  }
  
  #info:hover {
    z-index: 3;
  }

  #info .info-text:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 80px;
    top: 40px;
    border: 15px solid;
    border-color: rgb(58,68,84) transparent transparent transparent;
  }
  
  #info:hover .info-text {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
    transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  }

  #info .hotspot {
    cursor: pointer;
  }

  #info .info .info-icon-wrapper {
    width: 40px;
    height: 40px;
  }

  #info .info-icon {
    width: 30px;
    height: 30px;
  }
  
  #info .hotspot .out:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
  
  #info .hotspot .out {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(105, 110, 116);
    border: 5px solid rgba(105, 110, 116);
    -webkit-transition: -webkit-transform ease-out 0.1s, border 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, border 0.2s;
    transition: transform ease-out 0.1s, border 0.2s;
  }
  
  #info .hotspot .out:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }  
  
  #info .hotspot:hover .out {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    color: #fff;
  }
  
  #info .hotspot:hover .out:after {
    -webkit-animation: test_sonarEffect 1.2s ease-out;
    -moz-animation: test_sonarEffect 1.2s ease-out;
    animation: test_sonarEffect 1.2s ease-out;
  }
  
  @-webkit-keyframes test_sonarEffect {
    0% {
      opacity: 0.5;
    }
    20% {
      opacity: 0.8;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(106, 225, 37, 0.8), 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(106, 225, 37, 0.8), 0 0 0 10px rgba(255,255,255,0.5);
      -webkit-transform: scale(1.5);
      opacity: 0;
    }
  }
  @-moz-keyframes test_sonarEffect {
    0% {
      opacity: 0.5;
    }
    20% {
      opacity: 0.8;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(106, 225, 37, 0.8), 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(106, 225, 37, 0.8), 0 0 0 10px rgba(255,255,255,0.5);
      -moz-transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes test_sonarEffect {
    0% {
      opacity: 0.5;
    }
    20% {
      opacity: 0.8;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(106, 225, 37, 0.8), 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(106, 225, 37, 0.8), 0 0 0 10px rgba(255,255,255,0.5);
      transform: scale(1.5);
      opacity: 0;
    }
  }